body{
	background: url(pictures/about.jpg);
	background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
	font-family:'Abril Fatface', cursive;
	font-size:20px;
	line-height: 1.5;	
}
.navbar-default .navbar-brand:hover{
	color:black;
	font-size:23px;
	}
.navbar-default .navbar-brand{
	color:black;
	font-size:17px;
	font-family: 'Bungee', cursive;
}
.navbar-default .navbar-nav>li>a:hover{
	color:black;
	font-size: 23px; 
}	
.navbar-default .navbar-nav>li>a{
	color:black;
	font-size:17px;
	font-family: 'Bungee', cursive;
}	
h1 {
	margin-top: 100px;
	font-size:60px;
	font-family: 'Slabo 27px', serif;
	width:15%;	
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
h1:hover{
	color:rgb(115,34,12);
}
p{
	background-color: rgba(250,250,250,0.5);
	margin-top: 50px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	font-size:30px;
	text-align: center;
}
p:hover{
	color:rgb(100,50,20);
}