html{
	width:100%;
	height:100%;
}
img{
	width:80px;
	border-radius: 100px;
	padding:10px;
}
body{
	background: url(pictures/Contact-Me.jpg);
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
	font-family:'Abril Fatface', cursive;
	font-size:20px;
	line-height: 1.5;
}
.content{
	width:80%;
	color:rgba(0,0,0,0.8);
	background-color: rgba(250,250,250,0.5);
	padding:0 20px 30px 20px;
	margin:100px auto;
}
.navbar-default .navbar-brand:hover{
	color:black;
	font-size:23px;
	}
.navbar-default .navbar-brand{
	color:black;
	font-size:17px;
	font-family: 'Bungee', cursive;
}
.navbar-default .navbar-nav>li>a:hover{
	color:black;
	font-size: 23px; 
}	
.navbar-default .navbar-nav>li>a{
	color:black;
	font-size:17px;
	font-family: 'Bungee', cursive;
}
h1 {
	font-size:60px;
	font-family: 'Slabo 27px', serif;
	width:35%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
h1:hover{
	color:rgb(219,66,34);
}
