body{    
	background: url(pictures/background.jpg);
    background-size:cover;
    background-position: top;
    background-repeat:no-repeat;
    font-family:'Abril Fatface', cursive;
	font-size:20px;
	line-height: 1.5;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h1{
	margin-top: 90px;
	width:50%;
	font-size: 60px;
	font-family: 'Slabo 27px', serif;
	color: rgba(255,255,255,0.6);
}

img{
	margin-top: 40px;
	width:45%;
	border-radius: 140px;
}

h1:hover{
	color:rgb(80,80,255);
}

.navbar-inverse .navbar-brand:hover{
	font-size:23px;
	}

.navbar-inverse .navbar-brand{
	color:white;
	font-size:17px;
	font-family: 'Bungee', cursive;
}

.navbar-inverse .navbar-nav>li>a:hover{
	font-size: 23px; 
}

.navbar-inverse .navbar-nav>li>a{
	color:white;
	font-size:17px;
	font-family: 'Bungee', cursive;
}

p{
	border:3px solid white;
	border-radius: 100px;
	margin-top:40px;
	padding:20px;
	color:white;
	background-color: rgba(250,250,250,0.5);
	font-size: 50px;
}

p:hover{
	color:black;
	}
.content{
	text-align: center;
}